.one{
    width: 1.5vw;
    cursor: pointer;
    position: absolute;
    top: 48.5%;
    right: 7%;
}
.two{
    width: 1.5vw;
    cursor: pointer;
    position: absolute;
    top: 85%;
    right: 9%;
}
.three{
    width: 1.5vw;
    cursor: pointer;
    position: absolute;
    top: 72%;
    right: 9%;
}